/* ----- Web ----- */


body {
    background-color: #DCDCDC;
}

.container-custom1{
  padding: 120px 180px;
  background-color: #DCDCDC;
}

.container-custom2{
  padding: 120px 180px;
/*  background-color:white;*/
  background-color:transparent;
}

.footer{
  padding-top: 80px;
  padding-left: 180px;
  padding-right:180px;
  padding-bottom: 40px;        
  background-color:transparent;
  text-align: center;        
}

.title{
  margin-top: 3%;    
  text-align: left;

}

.name{
  margin-top: 10%;     
  text-align: left;
}

.intro{
  margin-top: 30%;     
  margin-right: 30%;     
  padding-bottom:5%;
  text-align: justify;
  font-family: 'Roboto Light', arial;
  font-size:14px;    
}


.circle {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    background: #231F20;
    z-index: 1;
}

.snow {
    position: absolute;
    border-radius: 50%;
    width: 330px;
    height: 330px;
    top: 200px;
    left: 60px;
    border-width: 0%;
    z-index: 2;
/*    mix-blend-mode: exclusion*/
    opacity: 0.8

}

.vigina {
    position: absolute;
/*    border-radius: 50%;*/
    width: 10%;
/*    height: 330px;*/
    top: 320px;
    left: 200px;
/*    border-width: 0%;*/
    z-index: 2;
    opacity: 0.5
/*    mix-blend-mode: exclusion*/

}

/*
.title-img{
  align-items: center;
  width:105%;
}
*/

.dust{
  align-items: right;
    position: absolute;
    right: 0px;
  width:80%;
}

.type_of_fgm {
    margin-top: 0px;
   background-image: url('img/4types.png');
    background-size: 450px;
    background-repeat: no-repeat;
   height: 100%;
   width: 100%;
    
}

.type_of_fgm:hover {
   background-image: url('img/4types_hover.png');
      transition: .5s ease;
}

.types-intro{
  margin-top: 3%;     
  font-family: 'Roboto',thin;
  font-size:14px; 
/*    margin-bottom: -20px;*/
}

.types{
/*  margin-top: 30%;     */
/*  margin-right: 30%;     */
/*  padding-bottom:5%;*/
  text-align: right;
  font-family: 'Roboto Regular', arial;
  font-size:14px;    
}

.types_body{
/*  margin-top: 30%;     */
  margin-left: 23%;     
/*  padding-bottom:5%;*/
  text-align: justify;
    direction:rtl;
  font-family: 'Roboto Light', arial;
  font-size:14px;    
}

.graphs-img{
  padding-top:120px;  
  padding-left:120px;
  padding-right:120px;
  padding-bottom: 80px;    
  align-items: center;
  width:100%;
  height: 100%; 
}


.graph5-img{
  align-items: center;
  width:70%;  
}

#select{
  width:45%;
  position:relative;
  top:80px;
  left:180px       
}

.head-row{
  padding:8%;  
}

.head{
  width:100%;
  height:auto; 
}

.head:hover{
  filter: brightness(4%) sepia(80) saturate(100);
}






/* ----- Head ----- */

h1{
  font-family: 'Roboto Regular', arial;
  font-size:36px;     
}

h2{
  font-family: 'Roboto', thin;
  font-size:22px;  
}

h3{
  font-family: 'Roboto', bold;
  font-size:24px;  
}

h4{
  font-family: 'Roboto', bold;
  font-size:22px;
  color:#B22025;    
}

h5{
font-family: 'Roboto Light', arial;
  font-size:36px;  
    font-weight: 300
}

h6{
font-family: 'Roboto Thin', arial;
font-style: normal;
font-weight: 300;
}

p{
  text-align: left;
  font-family: 'Roboto Light', arial;
  font-size:14px;    
/*  color:#909497;*/
}


h7{
  text-align: center;
  font-family: 'Roboto Light', arial;
  font-size:14px;    
  color:#909497;
}

h8{
  text-align: center;
  font-family: 'Roboto Light', arial;
  font-size:20px;    
  color:#B22025;
}


p2{
  text-align: left;
  font-family: 'Roboto',thin;
  font-size:14px;
  color:#909497;
}



/* ----- No FGM ----- */

#select {
    border-width:0px;
    border-radius:0px;
    background-color:#848484;
    font-size: 16px;
    color:white;
}

#pic {
    margin-left: auto;
    margin-right: auto;
}



/* ----- Font ----- */

@font-face {
    font-family: 'brandingsemibold';
    src: url('../fonts/branding-semibold-webfont.woff2') format('woff2'),
      url('../fonts/branding-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* ----- Responsive ----- */

@media (max-width: 767.98px){
    .container-custom1{
        padding:40px 20px;
    }
    .intro{
        margin-top: 12%;
    }
    .title-img{
        margin-top: 5%;
    }
    .container-custom2{
        padding:40px 20px;
    }
    .footer{
        padding:40px 20px;
    }
    .graphs-img{
        padding:0 0;
    }
    .head-row{
        padding:10px 0;
    }

} 

/* ----- Bar ----- */

    .zc-ref {
      background-color:transparent
    }